
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

body {
  background-image: url("https://storage.googleapis.com/west-coast-skateparks/music-tree-3.jpg" );
}

body:before{
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255,
    255, 255);
  background-color: rgba(255,
    255, 255, 0.7);
}

 /* // set font-family for most text // */
div {
  font-family: "Muli";
}

.lowercase {
  text-transform: capitalize;
}

.result-margin div:hover {
  cursor: default;
}

/*button div:hover {
  cursor: pointer !important;
}*/

.header {
  height: 300px;
}

.no-results {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: red;
  margin-top: 2%;
  margin-bottom: 2%;
}

.no-results-image {
  margin-top: 2%;
  height: 100px;
}

.search-form {
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 35%;
  background-color: white;
}

.debug {
  border: 1px solid red;
}

.image {
  width: 150px;
  height: 150px;
}

.results-container {
  margin-left: 10%;
  margin-right: 10%;
}

.search-bar {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1% 5% 4% 5%;
  background-color: white;
}

.result-margin {
  margin-left: 1%;
  margin-right: 1%;
}

.multi-button-box {
  float: right;
  margin-bottom: 2%;
}

.button-box {
  float: right;
  margin-bottom: 1%;
}

.details-display {
  margin: 2% 3% 2% 3%;
}

/* ///  for detail and discog headers /// */
.detail-discog-header {
  clear: right;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 2%;
  background-color: #E3E3E6;
  padding-top: 1%;
  padding-bottom: 1%;
}

.white {
  background-color: white;
}

.gray-background {
  background-color: gray;
}

.two-em {
  font-size: 2em;
}

.one-em {
  font-size: 1em;
}

.one-five-em {
  font-size: 1.5em;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.line-height {
  line-height: 25px;
}

.inline-block {
  display: inline-block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear-both {
  clear: both;
}

.clear-right {
  clear: right;
}

.bold {
  font-weight: bold;
}

.one-left {
  margin-left: 1%;
}

.one-bottom {
  margin-bottom: 1%;
}

.one-top {
  margin-top: 1%;
}

.two-right {
  margin-right: 2%;
}

.two-left {
  margin-left: 2%;
}

.two-top {
  margin-top: 2%;
}

.two-bottom {
  margin-bottom: 2%;
}

.three-bottom {
  margin-bottom: 2%;
}

.three-right {
  margin-right: 3%;
}

.four-left {
  margin-left: 4%;
}

.four-bottom {
  margin-bottom: 4%;
}

.five-right {
  margin-right: 5%;

}

.ten-right {
  margin-right: 10%;
}

.ten-top {
  margin-top: 10%;
}

.clear-right {
  clear: right;
}

.relative {
  position: relative;
}

.query input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}