body {
  background-image: url("https://storage.googleapis.com/music-tree/music-tree-3.jpg" );
}

body:before {
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255,
    255, 255);
  background-color: rgba(255,
    255, 255, 0.7);
}

 /* // set font-family for most text // */
div {
  font-family: "Muli";
}

.no-results {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: red;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: white;
}

.no-results-image {
  margin-top: 2%;
  height: 100px;
}

.search-form {
  padding: 4% 4%;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25), 0 1px 4px rgba(0, 0, 0, 0.25);
}

.search-bar {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1% 5% 2% 5%;
  background-color: white;
  border-radius: 4px;
}

.image {
  width: 150px;
  height: 150px;
}

.artist-buttons {
  text-align: right;
  margin-bottom: 1%;
}

.artist-result-title {
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

.results-container {
  margin-left: 10%;
  margin-right: 10%;
}

.details-display {
  margin: 2% 3% 2% 3%;
}

/* ///  for detail and discog headers /// */
.detail-discog-header {
  text-align: center;
  clear: right;
  font-weight: bold;
  font-size: 1.5em;
}

@media (max-width: 767px) {

  .result-image {
    text-align: center;
    margin-bottom: 1%;
  }

  .artist-result-title {
    text-align: center;
    margin-bottom: 1%;
  }

  .artist-buttons {
    text-align: center;
  }
}
